# Core
streamlit
pandas
numpy


# Visualization
matplotlib
seaborn
wordcloud
plotly
urlextract

# NLP & Text Processing
nltk
textblob
emoji

# Machine Learning (for sentiment/extra analysis if needed)
scikit-learn

# Utils
python-dateutil
